<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MSIM-Swift.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F0FF71AB26B0E9CE0005F3CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F0FF71C126B0E9D10005F3CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F0FF71CC26B0E9D10005F3CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
